<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Test para insertar un usuario">
    <title>Nuevo Usuario test</title>
</head>
<body>
    <div>
         <form method="post">
         	<h2>Sign Up</h2>
             <fieldset>
                  <div>
                      <label for="id_user">Id del usuario</label>
                      <input name="id_user" type="text" placeholder="Id del usuario">
                  </div>  
                  <div>
                      <label for="id_user_facebook">Id del usuario en Facebook</label>
                      <input name="id_user_facebook" type="text" placeholder="Id del usuario en Facebook">
                  </div>  
                  <div>
                      <label for="id_user_twitter">Id del usuario en Twitter</label>
                      <input name="id_user_twitter" type="text" placeholder="Id del usuario en Twitter">
                  </div>  
                  <div>
                      <label for="nombre">Nombre</label>
                      <input name="nombre" type="text" placeholder="Nombre">
                  </div>  
                  <div>
                      <label for="url_foto">Url de la foto</label>
                      <input name="url_foto" type="text" placeholder="Url de la foto">
                  </div>
             	    <button type="submit" class="pure-button">LogIn</button>
             </fieldset>
        </form>
        
     </div> 
     
 </body>
 </html>