<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Test para insertar un usuario">
    <title>Nueva Categoria test</title>
</head>
<body>
    <div>
         <form method="post">
         	<h2>Categoria</h2>
             <fieldset>
                  <div>
                      <label for="id_publicacion">id_publicacion</label>
                      <input name="id_publicacion" type="text" placeholder="id_publicacion">
                  </div>  
                  <div>
                      <label for="categoria">categoria</label>
                      <input name="categoria" type="text" placeholder="categoria">
                  </div>  
             	    <button type="submit" class="pure-button">add</button>
             </fieldset>
        </form>
        
     </div> 
     
 </body>
 </html>